<!doctype html>
<html lang="en" ng-app="poker">
  <head>
    <title>PokerFace</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/poker.css">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>
    <script src="/js/poker.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Poker Face</div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 60px;" ng-controller="PokerController as poker">
      <div class="row">
        <button class="btn" ng-click="poker.reset()">reset</button>
        <button class="btn" ng-click="poker.open()">open</button>
      </div>
      <div class="cards row">
        <h2>Selected</h2>
        <div class="card bg-success text-muted" ng-hide="poker.openCards" ng-repeat="c in selectedCards">Choice!!</div>
        <div class="card" ng-show="poker.openCards" ng-repeat="c in selectedCards">{{c.card}}</div>
      </div>
      <div class="cards row animate-show-hide" ng-show="poker.canSelect">
        <h2>Choice</h2>
        <div class="card" ng-repeat="c in poker.cards" ng-click="poker.click(c)">{{c}}</div>
      </div>
    </div>
  </body>
</html>
