<!doctype html>
<html lang="en" ng-app="poker">
  <head>
    <title>PokerFace</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/poker.css">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>
    <script src="/js/service/websocket.js"></script>
    <script src="/js/poker.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Poker Face</div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 60px;" ng-controller="PokerController as poker">
      <div class="row">
        <div class="col-xs-4">
          <input type="text" name="author" ng-model="poker.author" placeholder="please input your name" class="form-control">
        </div>
      </div>
      <div class="cards row animate-show-hide" ng-show="poker.author">
        <h2>Selected</h2>
        <div>
          <button class="btn" ng-click="poker.reset()">reset</button>
          <button class="btn" ng-click="poker.open()">open</button>
        </div>
        <div ng-hide="poker.openCards">
          <div class="card bg-success text-muted" ng-repeat="c in selectedCards">Choice!!</div>
        </div>
        <div ng-if="poker.openCards">
          <div class="card" ng-repeat="c in selectedCards">
            {{c.card}} <span class="text-muted" style="font-size: 50%">{{c.author}}</span>
          </div>
        </div>
      </div>
      <div class="cards row animate-show-hide" ng-show="poker.canSelect && poker.author">
        <h2>Choice</h2>
        <div ng-repeat="c in poker.cards">
          <div class="card" ng-click="poker.click(c)">{{c}}</div>
        </div>
      </div>
    </div>
  </body>
</html>
